<!-- Modal -->
<div id="modalRegulamento" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Regulamento</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify">
          &nbsp Ao término de sua avaliação clicando no botão “enviar”, você receberá um cupom 
          numerado e único. Esse número será seu número da sorte. No encerramento da promoção 
          todos os cupons serão impressos em nosso escritório de Brasília e depositados numa 
          urna antes do sorteio.
        </p>
 
        <p class="text-justify">
          &nbsp A promoção será válida para pesquisas respondidas no período das <mark> 0:00hs do dia 05/08/2013 às 24:00hs do dia 15/09/2013.</mark> O sorteio será no dia <mark>18/09/2013 às 18:30hs</mark>no endereço:<i> <strong>SCS Qd.1, Bloco L, Sala 311, Ed. Márcia, Brasília/DF.</strong></i> Todos horários acima são de Brasília. Entraremos em contato com a imobiliária vinculada ao cupom sorteado para identificação do mesmo caso o sorteado não esteja presente com o cupom em mãos na hora do sorteio. Divulgaremos o resultado em nosso site<a href="http://www.maximizaseguros.com.br" target="_blank" class="btn btn-link">www.maximizaseguros.com.br</a> até o dia 22/09/2013.
        </p>

        <p class="text-justify">
         &nbsp Só terão acesso ao site de avaliação para participação da promoção as parceiras imobiliárias que efetivaram algum negócio nos 60 dias que antecedem a data de geração de seu cupom. O acesso deverá ocorrer única e exclusivamente através do link (banner da promoção) dentro do Programa da Maximiza.
        </p>

        <p class="text-justify">
         &nbsp Cada participante terá direito apenas a um cupom e só poderão participar colaboradores da área de locação, seus gerentes e diretores. Um número de cupons será reservado para cada imobiliária de acordo com o número de colaboradores existentes na área de locação da mesma, limitando o número de participações. Na hipótese de entrada de novos colaboradores na área de locação da imobiliária no decorrer da promoção, ou outras exceções, os comerciais da Maximiza deverão ser contatados para tratar cada caso em particular.
        </p>

        <p class="text-justify">
         &nbsp O contemplado receberá um <mark>notebook modelo XXX </mark> no ato da apresentação do cupom. A imobiliária na qual o contemplado trabalha receberá uma Câmera Digital XXX. A entrega dos prêmios será na presença do diretor da imobiliária ou representante nomeado por ele. Se no momento da entrega dos prêmios for constatado a aquisição de mais de um cupom pelo mesmo colaborador, os prêmios serão entregues ao diretor que fará a entrega ou sorteio interno com critérios próprios.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>